.WheelPad {
    width: 100%;
    height: 100%;
    position: fixed;
}
  


.leftgroup{
    width: 50%;
    height: 100%;
    float: left;

}

.rightgroup{
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;

}

.centerbutton{
    margin-top: 50%;
}